Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55157/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55157/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55157/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Watt_Backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CheckForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForUser" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CounttProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:CounttProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_CounttProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:CounttProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CheckForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckForUser" message="tns:IService1_CheckForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckForUserResponse" message="tns:IService1_CheckForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllProducts" message="tns:IService1_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllProductsResponse" message="tns:IService1_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProductsByCategory" message="tns:IService1_GetProductsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductsByCategoryResponse" message="tns:IService1_GetProductsByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CounttProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CounttProducts" message="tns:IService1_CounttProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CounttProductsResponse" message="tns:IService1_CounttProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckForUser">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProductsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CounttProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/CounttProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:55157/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>