Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Watt_Backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Watt_Backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cart_Lists" nillable="true" type="tns:ArrayOfCart_List" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Power_Output" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Category" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Price" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfCart_List">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart_List" nillable="true" type="tns:Cart_List" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart_List" nillable="true" type="tns:ArrayOfCart_List" />
  <xs:complexType name="Cart_List">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Cart" nillable="true" type="tns:Cart" />
      <xs:element minOccurs="0" name="Cart_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Cart_List_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart_List" nillable="true" type="tns:Cart_List" />
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cart_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Cart_Lists" nillable="true" type="tns:ArrayOfCart_List" />
      <xs:element minOccurs="0" name="SysUser" nillable="true" type="tns:SysUser" />
      <xs:element minOccurs="0" name="Total_Cost" type="xs:double" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
  <xs:complexType name="SysUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Carts" nillable="true" type="tns:ArrayOfCart" />
      <xs:element minOccurs="0" name="Date_Of_Birth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SysUser" nillable="true" type="tns:SysUser" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Category_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
</xs:schema>